body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{

}

.l-imagem{

}

.l-imagem img{

}

.l-cadastro{

}

.cad-info{

}

.cad-info form{

}
