body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{

}

.lado-imagem{

}

.lado-imagem img{

}

.lado-cadastrar{

}

.cadastro-info{

}

.cadastro-info form{

}

.cadastro-info button{
    
}